<!--
<div class="page-header">
    <p class="h5">Pharmacy is the science and technique of preparing and dispensing drugs.
        It is a health profession that links health sciences with chemical sciences and aims to
        ensure the safe and effective use of pharmaceutical drugs.The scope of pharmacy practice
        includes more traditional roles such as compounding and dispensing medications, and it also
        includes more modern services related to health care, including clinical services, reviewing
        medications for safety and efficacy, and providing drug information. Pharmacists, therefore, are
        the experts on drug therapy and are the primary health professionals who optimize use of medication
        for the benefit of the patients. </p>
</div>
-->